/*
	Code By Webdevtrick (https://webdevtrick.com)
*/


body {
    font: 14px Arial, sans-serif;
}

#page-wrap {
    width: 500px;
    margin: 0 auto;
}

h1 {
    margin: 25px 0;
    font: 18px Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#quiz input {
    vertical-align: middle;
}

#quiz ol {
    margin: 0 0 10px 20px;
}

#quiz ol li {
    margin: 0 0 20px 0;
}

#quiz ol li div {
    padding: 4px 0;
}

#quiz h3 {
    font-size: 17px;
    margin: 0 0 1px 0;
    color: #666;
}

#results {
    font: 44px Arial, sans-serif;
}

/* .radio-toolbar input[type="radio"]:checked~* {
    background: rgb(254, 6, 47) !important;
} */